.report.hidden 
  %label Examiner's Report
  %br
  - @claim.examiners.each_with_index do |examiner,index| 
    %input{:id=>"examiner_name", :type=>"text", :name=>"examiner[index][name]", :value=>examiner.name}
    %span.highlighter.examiner_name
      %label{:for=>"examiner_name"} Examiner Name
    %br
  %input{:id=>"examiner_name", :type=>"text", :name=>"examiner[0][name]"}
    %span.highlighter.examiner_name
      %label{:for=>"examiner_name"} Examiner Name
    %br
  %br
  %span.highlighter.report_text
    %label{:for=>"report_text"} Report
  %br
  %textarea{:id=>"report_text", :rows=>"10", :cols=>"29", :name=>"claim[report]", :value=>@claim.report}
    