%form{:action=>"/claims/#{params[:id]}", :method=>"post", :class=>"report hidden"}  
  %label Examiner's Report
  %br
  - @claim.examiners.each_with_index do |examiner,index| 
    %input{:id=>"examiner_name", :type=>"text", :name=>"examiner[index][name]", :value=>examiner.name}
    %span.highlighter.examiner_name
      %label{:for=>"examiner_name"} Examiner Name
    %br
  %input{:id=>"examiner_name", :type=>"text", :name=>"examiner[0][name]"}
    %span.highlighter.examiner_name
      %label{:for=>"examiner_name"} Examiner Name
    %br
  %input{:id=>"report_text", :type=>"text", :name=>"claim[report]", :value=>@claim.report}
    %span.highlighter.report_text
      %label{:for=>"report_text"} Report
    %br