.testimony.hidden 
  %label Testimony
  %br
  %input{:id=>"person_name_2", :type=>"text", :name=>"people[testimony][0][name]"}
  %span.highlighter.person_name_2
    %label{:for=>"person_name_2"} Person Name
  %br
  %select{:id=>"person_role", :name=>"people[testimony][0][role]"}
    %option{:value=>"witness"} Witness
    %option{:value=>"notary"} Notary
    %option{:value=>"lawyer"} Lawyer
  %span.highlighter
    %label{:for=>"person_role"} Person Role
  %br
  %br
  %span.highlighter.testimony_text
    %label{:for=>"testimony_text"} Testimony Text
  %br
  %textarea{:id=>"testimony_text", :rows=>"10", :cols=>"29", :name=>"claim[testimony]", :value=>@claim.testimony}