.everything
  .spacer
    .transcript
      %button.hocr_toggle See the invisible
      .nav-bar
        %ul
          %li General
          %li Initial Letter
          %li Bill
          %li Affidavit
          %li Testimony
          %li Examiner's Report

      .form-div
        =render :partial => "general"
        =render :partial => "letter"
        =render :partial => "bill"
        =render :partial => "affidavit"
        =render :partial => "testimony"
        =render :partial => "examiners_report"
        
  .transcribe-image-holder
    - Claim.find(params[:id]).hocr_layers.each do |current_hocr|
      = render :file => "/hocr_files/_p#{current_hocr.filename}_hocr"
