.holder
  .torn-page
    %h1 Transcriot
    %p
      Transcriot is a beta web application that provides the ability for volunteers to transcribe eyewitness accounts of the New York City Draft Riots of 1863. More info  
      %a{:href=>"http://digitalcollections.nypl.org/items/409d92c0-cb9c-0130-03e4-58d385a7bbd0#/?uuid=409d92c0-cb9c-0130-03e4-58d385a7bbd0"}here
    %p
      Transcriot is a project done by the Flatiron School Brooklyn Fall 2013-2014 Fellowship Program for the New York Public Library Labs.
    %p
      They are: 
      %a{:href=>"http://katepdonahue.github.io"}Kate Donahue 
      %a{:href=>"http://keithwilliamsjr.herokuapp.com"}Keith Williams Jr.
      %a{:href=>"http://bresetwalker.com/"}Sterling Walker
      %a{:href=>"http://contessacodes.herokuapp.com/"}Tessa Fallon
  .title-page
    %img{:src=>"/title_page.jpg"}
  