%h1 Transcriot
%p
  Transcriot is a web application that provides the ability for volunteers to transcribe the Insurance Claims book from the New York City Draft Riots of 1863. More info  
  %a{:href=>"http://digitalcollections.nypl.org/items/409d92c0-cb9c-0130-03e4-58d385a7bbd0#/?uuid=409d92c0-cb9c-0130-03e4-58d385a7bbd0"}here
%p
  Transcriot is a project done by the Flatiron School Brooklyn Fall 2013-2014 Fellowship Program for the New York Public Library Labs.  