.last-page
  %h2
    Your Transcription was just saved! 
  %h3 
    Thanks for playing along with the beta. For more exciting transcription projects make sure to visit the NYPL Labs Ensemble Project
    %a{:href=>"http://ensemble.nypl.org/"}here.
    %p
      %a{:href=>"/"} Play Transcriot again